/* ------------------------------
   Global Reset & Base Styles
--------------------------------*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

/* ------------------------------
   LEFT NAVIGATION
--------------------------------*/
nav#menuItems {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100vh;
    background-color: black;
    padding-top: 20px;
}

/* Nav buttons */
nav button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: blue;
    color: white;
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    cursor: pointer;
}

/* Hover effect on nav buttons */
nav button:hover {
    background-color: #0033cc;
}

/* ------------------------------
   JUMP MENU (RECENT ARTICLES)
--------------------------------*/
#jumpMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background-color: #111;
}

/* Show jump menu on hover */
#recentArticles:hover + #jumpMenu,
#jumpMenu:hover {
    display: block;
}

/* Jump menu links */
#jumpMenu li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

/* Hover effect on jump menu items */
#jumpMenu li a:hover {
    background-color: white;
    color: black;
}

/* ------------------------------
   MAIN CONTENT AREA
--------------------------------*/
main {
    margin-left: 180px;
    padding: 20px;
}

/* ------------------------------
   FIXED HEADER
--------------------------------*/
header {
    position: fixed;
    top: 0;
    left: 180px;
    right: 0;
    height: 100px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    z-index: 10;
}

/* Push content below fixed header */
h1 {
    margin-top: 120px;
    text-align: left;
    font-family: "Times New Roman", serif;
}

/* ------------------------------
   ARTICLE CONTAINER
--------------------------------*/
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
}

/* ------------------------------
   ARTICLE CARDS
--------------------------------*/
article {
    width: 260px;
    color: #b5b5b5;
    transition: all 2s ease;
}

/* Article hover effect */
article:hover {
    color: #000000;
    transform: scale(1.08);
}

/* ------------------------------
   DROP CAP (FIRST LETTER)
--------------------------------*/
article p:first-of-type::first-letter {
    font-family: "Times New Roman", serif;
    font-size: 36px;
    font-weight: bold;
    float: left;
    padding-right: 5px;
}

/* ------------------------------
   READ MORE LINKS + ARROW
--------------------------------*/
article a[href*="google"] {
    text-decoration: none;
    color: blue;
    position: relative;
    padding-right: 24px;
}

/* Arrow icon */
article a[href*="google"]::after {
    content: "";
    background-image: url("arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 2px;
}

/* ------------------------------
   THANK YOU MESSAGE
--------------------------------*/
#thanks {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #9ad5f7;
    padding: 15px;
    font-size: 24px;
    border: 1px solid black;
}

#thanks a {
    text-decoration: none;
    color: navy;
}

/* ------------------------------
   FOOTER
--------------------------------*/
footer {
    margin-top: 50px;
}
